@import './variable.scss';
@mixin scrollbar {
    max-height: 88vh;
    margin-bottom: 0.5vh;
    overflow-y: auto;
  
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      background: transparent;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: rgba(144, 147, 153, 0.3);
      border-radius: 10px;
    }
  
    &::-webkit-scrollbar-thumb:hover {
      // background-color: rgba(144, 147, 153, 0.3);
    }
  }
  
  @mixin base-scrollbar {
    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: #ddd;
      background-clip: padding-box;
      border: 3px solid transparent;
      border-radius: 7px;
    }
  
    &::-webkit-scrollbar-thumb:hover {
      background-color: rgba(0, 0, 0, 0.5);
    }
  
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
  
    &::-webkit-scrollbar-track:hover {
      // background-color: #f8fafc;
    }
  }

  .icon-hover{
    cursor: pointer;
    &:hover {
      background-color: $base-hover-color;
    }
  }

  .i-icon:focus-visible{
    border: none !important;
    outline: none !important;
  }

  .el-popover.el-popper {
    min-width: 100px !important;
    padding: 5px 0 !important;
  }
  .el-menu-item{
      &.is-active{
        background-color: $base-color-primary-light9 !important;
        border-right: 3px solid $base-color-primary;
        span{
          color: $base-color-primary;
        }
    }
    &:hover{
      color: $base-color-primary !important;
      background-color: $base-color-primary-light9 !important;
    }
  }
  .el-sub-menu__title:hover{
    background-color: transparent !important;
  }
  .el-menu--horizontal> .el-menu-item {
    &.is-active{
      border-right: none;
    }
  }

  .el-menu--horizontal .el-menu .el-menu-item, .el-menu--horizontal .el-menu .el-sub-menu__title{
    height: 50px !important;
    line-height: 50px !important;
  }
  

html {
  body {
    @include base-scrollbar;
    position: relative;
    box-sizing: border-box;
    height: 100vh;
    padding: 0;
    // overflow: hidden;
  }
  div {
    @include base-scrollbar;
  }
}

.el-header{
  --el-header-padding: 0;
}

.el-button--primary:active{
  background-color: $base-color-primary;
  border-color: $base-color-primary;
}
