.el-popover.el-popper {
  min-width: 100px !important;
  padding: 5px 0 !important;
}
.el-menu-item {
  &.is-active {
    background-color: $base-color-primary-light9 !important;
    border-right: 3px solid $base-color-primary;
    span {
      color: $base-color-primary;
    }
  }
  &:hover {
    color: $base-color-primary !important;
    background-color: $base-color-primary-light9 !important;
  }
}
.el-sub-menu__title:hover {
  background-color: transparent !important;
}
.el-menu--horizontal > .el-menu-item {
  &.is-active {
    border-right: none;
  }
}

.el-menu--horizontal .el-menu .el-menu-item,
.el-menu--horizontal .el-menu .el-sub-menu__title {
  height: 50px !important;
  line-height: 50px !important;
}

.el-header {
  --el-header-padding: 0;
}

.el-button--primary:active {
  background-color: $base-color-primary;
  border-color: $base-color-primary;
}
