$base-color-primary: #84a2fe;
$--colors: 
(
    'primary': (
        'base': $base-color-primary,
    ),
        
);
$--font-path: 'element-plus/lib/theme-chalk/fonts';
@import "element-plus/packages/theme-chalk/src/index";