$base-color-primary: #7e9cff;
$--colors: 
(
    'primary': (
        'base': $base-color-primary,
    ),
        
);
$--font-path: 'element-plus/theme-chalk/fonts';
@import "element-plus/packages/theme-chalk/src/index";